.signin_page{
	padding-top: 20%;
	width: 100%;
	margin: auto;
}
img.logo{
	margin: auto;
	padding: 10% 0%;
}
.signup_btn{
	padding:2% 10%;
	box-shadow: none !important;
} 
.signin_btn{
	padding:10% 10% 2% 10%;
	box-shadow: none !important;
}